
	<h1>About Us</h1>
	<p>
  	The <a href="http://tranquil-eyrie-7817.herokuapp.com/">Recipository</a> is a website to allow the sharing of recipes and their ingredients. This project was created by Benjamin Climan, Nolan Farrell, Cindy Lemus, and Preston Mueller.
	</p>
