
	<h1>About Us</h1>
	<p>
  	The <a href="http://tranquil-eyrie-7817.herokuapp.com/">Recipository</a> is a project to introduce a recipe sharing community to the Internet. People from all over the globe will soon be able to connect and share with each other their favorite cuisines. Diet concious users will benefit from the plethora of categories catering to every palate, diet goal, and occasion. 
	</p>
