<footer class="footer">
  <small>
    <a href="http://tranquil-eyrie-7817.herokuapp.com/">Recipository</a>
    by Ben Climan, Nolan Farrell, Preston Mueller, Cindy Lemus
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>